:root {
    --color-text-decoration: #0000008C;
    --color-seperate-border: #EEEEF0;
    --color-background-history: #FAFAFA;
    --color-span-category: rgb(156 163 175);
    --color-cart-add: #4B5548;
}



